// Specific CSS for your home-page
.page-container {
  display: flex;
  color: white;
}

.all {
    background-color: #2A2F3E;
  h1 {
    text-align: center;
    margin: 0px 0px 0px 0px;
    color: white;
  }
}

